.input {
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;

  outline: none;
  padding: 12px 15px;
  min-width: 300px;
  font-size: 23px;
  color: var(--black);
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 3px solid var(--gray);

  &:focus {
    border-bottom: 3px solid var(--light-blue);
  }
}

@media (max-width: 475px) {
  .input {
    min-width: 170px;
    max-width: 210px;
    font-size: 17px;
    box-sizing: border-box;
  }
}
