.button {
  min-width: 170px;
  padding: 20px;
  font-size: 21px;
  border-radius: 18px;
  box-sizing: border-box;

  background-color: var(--black);
  transition: 0.3s ease, transform 0.2s ease;

  border-right: 11px solid var(--gray);
  border-bottom: 11px solid var(--gray);

  &:hover {
    background-color: var(--black-hover);
  }
}

.buttonActive {
  border-right: 6px solid var(--light-blue);
  border-bottom: 6px solid var(--light-blue);
}
