.button {
  min-width: 175px;
  padding: 20px;
  font-size: 21px;
  border-radius: 18px;
  box-sizing: border-box;

  background-color: var(--black);
  transition: 0.3s ease, transform 0.2s ease;

  border-right: 11px solid var(--gray);
  border-bottom: 11px solid var(--gray);

  &:hover {
    background-color: var(--black-hover);
  }
}

.buttonActive {
  border-right: 6px solid var(--light-blue);
  border-bottom: 6px solid var(--light-blue);
}

@media (max-width: 1200px) and (min-width: 975px) {
  .button {
    min-width: 140px;
    padding: 15px;
    font-size: 17px;
  }
}

@media (max-width: 975px) and (min-width: 850px) {
  .button {
    min-width: 120px;
    padding: 10px;
    font-size: 16px;
  }
}
