.section {
  width: 100%;
  height: 100vh;
  background-color: var(--light-gray);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  position: fixed;
  font-size: 23px;
}

.buttonBack {
  top: 8%;
  left: 5%;

  &:hover {
    background-color: var(--black-hover);
  }
}

.buttonDelete {
  top: 8%;
  right: 5%;
  background-color: var(--red);

  &:hover {
    background-color: var(--red-hover);
  }
}

@media (max-width: 600px) {
  .button {
    position: fixed;
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .button {
    position: fixed;
    font-size: 18px;
  }
}

@media (max-width: 390px) {
  .button {
    position: fixed;
    font-size: 15px;
  }
}
