@import "../../assets/styles/mixins.scss";

.section {
   @include default-section;
}

.buttonOpenPopup {
   position: fixed;
   top: 22px;
   right: 3%;
   border-radius: 50%;
   padding: 5px 12px 10px 12px;

   &:hover {
      background-color: var(--black-hover);
   }
}

.buttonNavBar {
   display: none;
}

@media (max-width: 850px) {
   .buttonNavBar {
      display: block;
   position: fixed;
   top: 22px;
   left: 3%;
   border-radius: 50%;
   padding: 5px 12px 10px 12px;

   &:hover {
      background-color: var(--black-hover);
   }
}
}