@import "../../assets/styles/mixins.scss";

.section {
   @include default-section;
}

.button {
   position: fixed;
   top: 22px;
   right: 3%;
   border-radius: 50%;
   padding: 5px 12px 10px 12px;

   &:hover {
      background-color: var(--black-hover);
   }
}